.standard_font {
    font-family: 'Trebuchet MS', sans-serif;
}

/* Custom styles for cards */

.card {

    transition: transform 0.3s ease-in-out;

}



.card:hover {

    transform: scale(1.05);

}

.btn-custom {

    color: white;
    transition: transform 0.2s ease-in-out;

}

.btn-custom:hover {
    
    transform: scale(1.05);
    color: white;

}
