{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class ="text-light">
  <h1>Add Fish</h1>

  <!-- Defines the add form -->
  <form method="post">
    <label for="common_name">Common Name:</label>
    <input type="text" name="common_name" placeholder="Common Name" required />
    <br>
    <label for="scientific_name">Scientific Name:</label>
    <input type="text" name="scientific_name" placeholder="Scientific Name" required/>

    <br />
    <label for="species">Species:</label>
    <input type="text" name="species" placeholder="Species" required />
    <br>
    <label for="shape">Shape:</label>
    <input type="text" name="shape" placeholder="Shape" required />

    <br />
    <label for="avg_length">Average Length:</label>
    <input
      type="number"
      name="avg_length"
      placeholder="Average Length"
      required
    />
    <br>
    <label for="avg_lifespan">Average Lifespan:</label>
    <input
      type="number"
      name="avg_lifespan"
      placeholder="Average Lifespan"
      required
    />
    <br />
    <label for="water_type">Water Type:</label>
    <label for="water_type">Salt</label>
    <input type="radio" name="water_type" value="Salt" required/>
    <label for="water_type">Fresh</label>
    <input type="radio" name="water_type" value="Fresh" required/>
    <br>
    <label for="has_legs">Has Legs</label>
    <label for="water_type">Yes</label>
    <input type="radio" name="has_legs" value="Yes" required/>
    <label for="water_type">No</label>
    <input type="radio" name="has_legs" value="No" required/>
    <br />
    <label for="image">Image URL:</label>
    <input type="text" name="image" placeholder="Img URL" />
    <br>
    <input type="submit" value="Add Fish" />
  </form>
</div>
{% endblock %}
