{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="row ">
  <!-- Creates a card for each of the fish in the data base -->
  {%for fish in fishes%}
  <div class="col-12 col-xl-6 col-xxl-3 mb-4">
    <!-- This column will be full width on small screens, 

              half width on medium screens, 

              and one-third width on large screens -->
    <div class="card w-100">
      <img
    
        src={{fish['image']}}
        
        class="card-img-top img-fluid"
        style="object-fit: cover; aspect-ratio: 16/9"
        onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl19OePRIGVXq89oJuBFJobXimpku52TMFfglE7hi-z73gbOygODB-PYHkBTyf7vrFmLU&usqp=CAU'"
      />
      <div class="card-body bg-secondary text-light">
        <h5 class="card-title">{{fish['common_name']}}</h5>
        <p class="card-text">
          {{fish['scientific_name']}}
          <br />
          {{fish['species']}}
        </p>
        <!-- Button trigger modal, gets all the data from modal.js -->
        <button
          type="button"
          class="btn btn-primary btn-custom"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="{{fish['common_name']}}"
          data-bs-species="{{fish['species']}}"
          data-bs-scientific_name="{{fish['scientific_name']}}"
          data-bs-shape="{{fish['shape']}}"
          data-bs-water_type="{{fish['water_type']}}"
          data-bs-avg_length="{{fish['avg_length']}}"
          data-bs-avg_lifespan="{{fish['avg_lifespan']}}"
          data-bs-has_legs="{{fish['has_legs']}}"
          data-bs-has_legs="{{fish['image']}}"
          data-bs-id="{{fish['id']}}"
        >
          More
        </button>
      </div>
    </div>
  </div>
  {%endfor%}

  
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-secondary text-light">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close  btn-custom"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Defines the content of the modal -->
      <div class="modal-body ">
        <p>

          <strong>Scientific Name: </strong><span id="scientific_name">Replaced</span>
          <br />
          <strong>Species: </strong><span id="species">Replaced</span>
          <br />
          <strong>Shape: </strong><span id="shape">Replaced</span>
          <br />
          <strong>Water Type: </strong><span id="water_type">Replaced</span>
          <br />
          <strong>Average Length: </strong><span id="avg_length">Replaced</span>
          <br />
          <strong>Average Lifespan: </strong><span id="avg_lifespan">Replaced</span>
          <br />
          <strong>Has Legs: </strong><span id="has_legs">Replaced</span>
          <br />
        </p>
      </div>
      <div class="modal-footer">
        <a href="#" id="update"><button type="button" class="btn btn-success btn-custom ">Update</button></a>
        <a href="#" id="delete"><button type="button" class="btn btn-danger btn-custom">Delete</button></a>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='modal.js') }}
"></script>
{% endblock %}
