{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    
    
   <div class="text-light">
      <!-- Add your page-specific content here -->
      <form method="post">
          <h1>Update Fish </h1>
        
          <label for="id">ID:</label>
        <input type="text" name="id" placeholder="id" value ="{{fish.id}}" readonly />
        <br>
        <label for="common_name">Common Name:</label>
        <input type="text" name="common_name" placeholder="Common Name" value ="{{fish.common_name}}" required />
        <br>
        <label for="scientific_name">Scientific Name:</label>
        <input type="text" name="scientific_name" placeholder="Scientific Name" value ="{{fish.scientific_name}}" required/>
      
        <br />
        <label for="species">Species:</label>
        <input type="text" name="species" placeholder="Species" value ="{{fish.species}}" required />
        <br>
        <label for="shape">Shape:</label>
        <input type="text" name="shape" placeholder="Shape" value ="{{fish.shape}}" required />
      
        <br />
        <label for="avg_length">Average Length:</label>
        <input type="number" name="avg_length" placeholder="Average Length" value ="{{fish.avg_length}}" required/>
        <br>
        <label for="avg_lifespan">Average Lifespan:</label>
        <input type="number" name="avg_lifespan" placeholder="Average Lifespan" value ="{{fish.avg_lifespan}}" required/>
        <br />
        {% if fish.water_type == 'Salt' %} 
        <label for="water_type">Water Type:</label>
        <label for="water_type">Salt</label>
        <input type="radio" name="water_type" value="Salt" checked/>
        <label for="water_type">Fresh</label>
        <input type="radio" name="water_type" value="Fresh" />
        <br>
        <label for="has_legs">Has Legs</label>
        <label for="water_type">Yes</label>
        
        {%else%}
        <label for="water_type">Water Type:</label>
        <label for="water_type">Salt</label>
        <input type="radio" name="water_type" value="Salt"/>
        <label for="water_type">Fresh</label>
        <input type="radio" name="water_type" value="Fresh" checked/>
        <br>
        <label for="has_legs">Has Legs</label>
        <label for="has_legs">Yes</label>
        
        {%endif%}
        
        {% if fish.has_legs == 'Yes' %} 
        <input type="radio" name="has_legs" value="Yes" checked/>
        <label for="has_legs">No</label>
        <input type="radio" name="has_legs" value="No" />
        {%else%}
        <input type="radio" name="has_legs" value="Yes"/>
        <label for="has_legs">No</label>
        <input type="radio" name="has_legs" value="No" checked/>
        
        {%endif%}
        <br>
        <label for="image">Image URL:</label>
        <input type="text" name="image" placeholder="Image URL" value ="{{fish.image}}" />
        <br>
        <input type="submit" value="Update Fish" />
      </form>
  </div>
    {% endblock %}